<h1>Classroom Info:</h1>
<%= render 'classroom' %>
<p><strong>Teacher: <%= link_to @classroom.teacher, teacher_path(@classroom.teacher)%></h4> - Email: <%=@classroom.teacher.email%></strong></p><br>
<% if @classroom.children.empty? %>
<p><i>There are currently no students in this classroom. Please click <%= link_to "here", new_child_path %> to add a student. </i></p>
<% else %>
<h3>Student Roster:</h3>
<ol>
<%= render partial: 'children/children', locals: {classroom_children: @classroom.children} %>
</ol>
<% end %>
<p><%= link_to 'Edit Classroom', edit_classroom_path(@classroom) %></p>