<%= form_for @teacher do |f| %>
    <% if @teacher.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this attempt from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul></div>
    <% end %>
  
    <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
    </div>
  
    <div class="form-group">
        <%= f.label :volunteer, "Check box if you are a volunteer" %>
        <%= f.check_box :volunteer, class: "form-check-input" %>
    </div>
  
    <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "form-control" %>

    <div class="actions">
        <br/>
        <%= f.submit class: "btn btn-primary" %>
    </div>
  
  <% end %> 