<%= form_for(@assignment) do |f| %>
    <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@assignment.errors.count, "error") %>
        prohibited this student from being saved:
      </h2>
   
      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul></div>
    <% end %>

    <%= f.label :title %><br>
    <%= f.text_field :title %><br><br>
    <%= f.label :description %><br>
    <%= f.text_field :description %><br><br>
    <%= f.label :due_date %><br><br>
    <%= f.datetime_local_field :due_date %><br><br>
    <%= f.check_box :complete %>
    <%= f.label :complete, "Check box if assignment is complete." %><br><br>
    <%= f.submit class: "btn btn-primary" %><br><br>
<% end %> 