<h1>Assignment: <%=@assignment.title%></h1>
<h4>Description: <%=@assignment.description%></h4><br>
<h4>Students Assigned: </h4>
<% @assignment.assignments_children.each do |a| %>
    <div><li><%= link_to a.child.to_s, child_path(a) %>, age <%= a.child.age%></li></div><br>
<% end %> </p><br>
<p><%= link_to 'Edit Assignment', edit_assignment_path(@assignment) %></p>
<p><i><%= @assignment.last_updated %></i></p>
