<h1> <%= @teacher.to_s %>'s Profile </h1>
<hr>

<h3>Volunteer Status: <%= @teacher.volunteer %></h3><br>
<% if @teacher.classroom.nil?%>
<i><%= link_to 'Add Your Classroom', new_classroom_path(@teacher.classroom) %></i><br>
<% else %>
<h3>Class: <%= link_to @teacher.classroom.title, classroom_path(@teacher.classroom) %></h3>
<% end %><br>

<p>Assignments:</p>
<% @teacher.assignments.each do |a| %>
  <div><li><%= link_to a.title, assignment_path(a) %></li></div>
<% end %><br>

<i><%= link_to 'New Assignment', new_teacher_assignment_path(@teacher) %></i><br><br>
<p><i><%= @teacher.last_updated %></i></p>
<p><%= link_to 'Update Profile', edit_teacher_path(@teacher) %></p>
