<h1> <%= @parent.to_s %>'s Profile </h1>
<h4>Contact Info: </h4>
<p>Phone Number: <strong><%= number_to_phone(@parent.phone_number, area_code: true) %></strong></p>
<p>Email Address: <strong><%= @parent.email %></strong></p>
<p>Emergency Contact: <strong><%= @parent.emergency_name %></strong> </p>
<p>Emergency Number: <strong><%= number_to_phone(@parent.emergency_number, area_code: true)%></strong></p><br><br>
<h4> Children Enrolled In Sunday School: </h4>
<ol>
<%= render partial: 'children/children', locals: {classroom_children: @parent.children} %>
</ol><br><br>
<p><%= link_to "Edit Parent Info Page", edit_parent_path(@parent) %></p>
<p><%=  %></p>
<p><i><%= @parent.last_updated %></i></p>

